<%- include('header'); -%>
<div class="admin-bar">
    <a class="admin-brand" href="/loggedin"><span>Ad</span>min Panel</a>
    <div class="admin-links">
        <a href="/edithome">Update Home</a>
        <a href="/postlearnings">Post Learnings</a>
        <a href="/compose">Publish Blog</a>
        <a href="/getcontact">Get Contacts</a>
    </div>
</div>
