        </div>
    </section>
    <div class="footer">
        <div class="inner-footer">
            <div class="footer-item">
                <h1><a class="navbar-brand" href="/"><strong>Jackson <span>Mongbam</span></strong></a></h1>
                <p>Google LLC is an American multinational technology company that specializes in Internet-related services and products, which include online advertising technologies, a search engine, cloud computing, software, and hardware. Wikipedia</p>
            </div>
        <div class="footer-item">
            <h2>Programs</h2>
        <div class="border"></div>
            <ul>
                <a href="/learnings"><li>Learnings</li></a>
                <a href="#"><li>Designing</li></a>
                <a href="https://drive.google.com/drive/folders/15yNEjxJkiwU8FMX7MrYSlS_J-HcKEQWI"><li>Study materials</li></a>
                <a href="/maintenance"><li>Book an appointment</li></a>
            </ul>
        </div>
    <div class="footer-item">
        <h2>Support</h2>
            <div class="border"></div>
                <ul>
                    <a href="/contact"><li>Contact Us</li></a>
                    <a href="/maintenance"><li>Terms of use</li></a>
                    <a href="/maintenance"><li>Careers</li></a>
                    <a href="/maintenance"><li>FAQ</li></a>                                       
                </ul>
            </div>
        <div class="footer-item">
            <h2>Address</h2>
                <div class="border"></div>
                    <ul>
                        <li><i class="fa fa-map-marker" aria-hidden="true"> Medziphema, Dimapur, Nagaland, 797106</i></li>
                        <li><i class="fa fa-phone" aria-hidden="true"> +918837092377</i></li>
                        <li><i class="fa fa-envelope" aria-hidden="true"> explorealmamater@gmail.com</i></li>           
                    </ul>
                <div class="social">
                    <a href="https://www.instagram.com/jackson_mongbam/"><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.youtube.com/@jacksonmongbam6181"><i class="fa-brands fa-youtube"></i></a>
                    <a href="https://twitter.com/LeagueHappy"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
                </div>
                    <div class="footer-bottom">
                        Copyright &copy; Jackson Mongbam 2023. All rights reserved.
                    </div>     
            </div>
</body>
</html>