<%- include('partials/header'); -%>

<div class="page-content">
    <div class="blogtitle">
        <h2>Ab<span>out</span></h2>
    </div>
    <% for(var i=0; i<homepage.length; i++) { %>
        <div class="about-card mb-3">
            <p><%=homepage[i].about%></p>
        </div>
    <% }; %>
</div>

<%- include('partials/footer'); -%>
