<%- include('partials/header'); -%>
    <div class="row learngap">
        <div class="learning-box col-lg-12">
            <h2><%=postTitle%></h2>
            <p><%=postContent%></p>
        </div>
    </div>

<%- include('partials/footer'); -%>